{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Nepal Reviewed | {% block title %}{% endblock %} </title>
</head>

<body>

    <nav class="auth-nav">
        {% if request.user.is_authenticated %}
        <a href="#">Welcome {{user.username}} </a>
        <form action="{% url 'logout' %}" method="POST" id="logout-form">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
        {% else %}
            <button id="modalButton">Login / Register</button>
            <div id="login-modal" class="modal">
            <section class="auth-tabs">
                <button id="login-tab" class="active auth-tab-button">Login</button>
                <button id="register-tab" class="auth-tab-button">Register</button>
                <button id="privacy-tab" class="auth-tab-button">Privacy</button>
                <button class="close auth-tab-button">&times; close</button>
            </section>
            <section class="auth-forms">
                <div class="login-form">
                   
                    <form action="{% url 'login' %}" class="login-form" method="POST">
                        <h3 class="form-title">Please Login</h3>
                        {% csrf_token %}
                        <label for="login-username">Username</label>
                        <input type="text" id="login-username" name="username" placeholder="username" required>
                        <label for="login-username">Password</label>
                        <input type="password" id="login-password" name="password" placeholder="password" required>
                        <input type="submit" value="Login">
                    </form>
                </div>
                <div class="register-form">
                    
                    <form action="{% url 'register' %}" class="login-form" method="POST">
                        <h3 class="form-title">Register Your Account</h3>
                        {% csrf_token %}
                        <label for="first_name">First Name</label>
                        <input type="text" id="first_name" name="first_name" placeholder="first name" required>
                        <label for="last_name">Last Name</label>
                        <input type="text" id="last_name" name="last_name" placeholder="last name" required>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="email" required>
                        <label for="register_username">Username</label>
                        <input type="text" id="register_username" name="username" placeholder="username" required>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="password" required>
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="confirm password" required>
                        <input type="submit" value="Register">
                    </form>
                </div>
                <div class="privacy">
                    
                    <h3 class="form-title">Our Privacy Statement</h3>
                    
                        <p>If you are not registered, please register first and then login.</p> 
                        <p>Your login and registration data is encrypted and secure. We take your personal privacy very seriously and will not sell any of your data to any third parties. We might use some of your data, such as email and name, to communicate only with you. Thank you always for using this site. </p>
                </div>
            </section>
            </div>
            
            <style>
                .auth-tabs{
                    text-align: center;
                }
            </style>
            {% endif %}
    </nav>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% if 'error' in message.tags %}
        <p class="error-message">Sorry: {{message}}</p>
        {% else %}
        <p class="success-message">Success: {{message}}</p>
        {% endif %}

        {% endfor %}
    </div>
    {% endif %}
  
    <header class="main-header"><h1 class="masthead">Nepal Reviewed</h1></header>
    <nav class="main-nav">
        <a href="{% url 'home' %}" class="nav-link"><i class="fas fa-home"></i> Home</a>
        
            <div class="dropdown">
                <button>Reviews</button>
                <div class="dropdown-content">
                    <a href="{% url 'article_reviews' %}" class="dropdown-link">Article Reviews</a>
                    <a href="{% url 'book_reviews' %}" class="dropdown-link">Book Reviews</a>
                    <a href="{% url 'commentaries' %}" class="dropdown-link">Commentaries</a>
                </div>
            </div>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="nav-link">NR-Admin</a>
        {% endif %}
    </nav>
    
    

    <main class="container">
        <article class="main-section">
            {% block content %}
            {% endblock %}
        </article>
        <section class="sidebar2">
            <section class="topics">
                {% if topics %}
                <h4 class="section-title">Topics</h4>
                {% for topic in topics %}
                <a href="{{topic.get_absolute_url}}">
                {{topic.name}}</a>
                {% endfor %}
                {% endif %}
            </section>
            <div class="categories">
                <h4>Reviews</h4>
                <a href="{% url 'article_reviews' %}">
                Article Reviews</a>
                <a href="{% url 'book_reviews' %}">
                Book Reviews</a>
                <a href="{% url 'commentaries' %}">
                Commentaries</a>
            </div>
            {% if authors %}
            <h4 class="side-menu-title">Authors</h4>
            <div class="authors">
                {% for author in authors %}
                <a href="{% url 'author_posts' author.id author.slug%}" class="author-posts">{{author.name}}</a>
                {% endfor %}
            </div>
            {% endif %}
         
        </section>
    </main>
        <footer>
            <section class="footer-navs">
                <nav class="footer-nav">
                    <h4 class="footer-nav-title">About NR</h4>
                </nav>
                <nav class="footer-nav">
                    <h4 class="footer-nav-title">Posts</h4>
                </nav>
                <nav class="footer-nav">
                    <h4 class="footer-nav-title">Account</h4>
                </nav>
                <nav class="footer-nav">
                    <h4 class="footer-nav-title">Social Media</h4>
                </nav>
            </section>
            <p>&copy; Nepal Reviewed {% now 'Y' %}</p>
        </footer>

<script>
    var loginModal = document.querySelector('#login-modal');
    var modalButton = document.querySelector('#modalButton');
    var closeButtons = document.querySelectorAll('.close');
    modalButton.addEventListener('click', (e)=>{
        loginModal.style.display = "block";
    })
    closeButtons.forEach((button)=>{
        button.addEventListener('click', (e)=>{
            loginModal.style.display = 'none';
    })
    })
    
    window.addEventListener('click', (e)=>{
        if (e.target == loginModal){
            loginModal.style.display='none';
            modalButton.style.display = 'block';
        }
    })
</script>
<script>

    var loginForm = document.querySelector('.login-form');
    var registerForm = document.querySelector('.register-form');
    var privacy = document.querySelector('.privacy');
    var loginTab = document.querySelector('#login-tab');
    var registerTab = document.querySelector('#register-tab');
    var privacyTab = document.querySelector('#privacy-tab');
   
    function displayForms(x, y, z){
        x.style.display = 'none';
        y.style.display = 'none';
        z.style.display = 'block';
    }
  
    displayForms(registerForm, privacy, loginForm);
    
    loginTab.addEventListener('click', ()=>{
        displayForms(registerForm, privacy, loginForm);
        loginTab.classList.add('active')
        registerTab.classList.remove('active')
        privacyTab.classList.remove('active')
    })
    registerTab.addEventListener('click', ()=>{
        displayForms(loginForm, privacy, registerForm);
        registerTab.classList.add('active')
        loginTab.classList.remove('active')
        privacyTab.classList.remove('active')
    })
    privacyTab.addEventListener('click', ()=>{
        displayForms(loginForm, registerForm, privacy);
        loginTab.classList.remove('active')
        registerTab.classList.remove('active')
        privacyTab.classList.add('active')
    })
</script>
<script>
    var message = document.querySelector('.message-container', 'p');
    setTimeout(function(){
        message.style.display = 'none'
    }, 4000);
</script>
        
</body>
</html>